html, body {
    margin: 0;
}




body{
    overflow: hidden;
}
header{
    text-align: center;
    width: 100vw;
    height: 8vh;
    background-color: #555;
    color: #fff;
    padding-top: 10px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 84vh;
}
.options{
    margin-top: 10px;
}
.search_input{
    width: 40vw;
    height: 6vh;
    border-radius: 15px;
    border-color: #000;
    padding: 3px;
}
.search_btn{
    width: 10vw;
    height: 6vh;
    border-radius: 15px;
    border-color: #000;
    padding: 3px;
}
.search_btn:hover{
    background-color: #fff;
}


button{
    position: absolute!important;
}

footer{
    display: inline-block;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    background-color: #555;
}
.copyright{
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 2vh;
}

.button_encender {

    position: fixed;
    bottom: 0;
    left: 44%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom : 7%;
}


.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }